.App {
  text-align: center;
}

.Header {
  background-color: #222222;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  min-height: 80px;
  position: relative;

}

.Logo{
  width: 120px;
  margin-bottom: 0.5%;
  margin-left: 2%;
}

.Nome{
  width: 300px;
  margin-left: 2%;
}

.Redes{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
}

.Rede{
  margin-left: 7%;
}

.Face{
  width: 45px;
}

.FotoPerfil{
  padding-top: 10%;
  width: 10%;
  max-height: 5px;
  left: 85%;
  top: 100%;
  margin: 3em auto;
  position: absolute;
  border-radius: 15vw;
  background: url('./assets/perfil.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  z-index: 1;
  overflow: hidden;
}

.CarrouselImage{
  max-height: 700px;
  object-fit: cover;
}

.Cards {
  background-color: #3E3D4B;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.card {
  justify-content: center;
  align-items: center;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
  border-radius: 5%;
  width: 30%;
  min-height: 150px;
  margin-top: 2%;
  margin-bottom: 2%;
}

.float{
	position:fixed;
	width:60px;
	height:60px;
	bottom:40px;
	right:40px;
	background-color:#25d366;
	color:#FFF;
	border-radius:50px;
	text-align:center;
  font-size:30px;
	box-shadow: 2px 2px 3px #999;
  z-index:100;
}

.my-float{
	margin-top:16px;
}

.wwp{
  position: fixed;  right: 15px; bottom: 15px;
}

.page-mask {
  display: none;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
}

.window {
  display: none;
  border-radius: 25px;
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 20%;
  top: 20%;
  background-color: white;
  border: solid 2px gray;
}

.page-mask-open{
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0,0,0,0.6);
  z-index: 2;
}

.window-open {
  border-radius: 25px;
  position: fixed;
  left: 20%;
  right: 20%;
  bottom: 20%;
  top: 20%;
  background-color: white;
  border: solid 2px gray;
  z-index: 3;
}

.carousel .control-arrow,.carousel.carousel-slider .control-arrow{-webkit-transition:all .25s ease-in;-moz-transition:all .25s ease-in;-ms-transition:all .25s ease-in;-o-transition:all .25s ease-in;transition:all .25s ease-in;opacity:.4;filter:alpha(opacity=40);position:absolute;z-index:2;top:20px;background:none;border:0;font-size:32px;cursor:pointer}
.carousel .control-arrow:focus,.carousel .control-arrow:hover{opacity:1;filter:alpha(opacity=100)}
.carousel .control-arrow:before,.carousel.carousel-slider .control-arrow:before{margin:0 5px;display:inline-block;border-top:8px solid transparent;border-bottom:8px solid transparent;content:''}
.carousel .control-disabled.control-arrow{opacity:0;filter:alpha(opacity=0);cursor:inherit;display:none}
.carousel .control-prev.control-arrow{left:0}.carousel .control-prev.control-arrow:before{border-right:8px solid #fff}
.carousel .control-next.control-arrow{right:0}.carousel .control-next.control-arrow:before{border-left:8px solid #fff}
.carousel-root{outline:none}
.carousel{position:relative;width:100%}
.carousel *{-webkit-box-sizing:border-box;-moz-box-sizing:border-box;box-sizing:border-box}
.carousel img{width:100%;display:inline-block;pointer-events:none}
.carousel .carousel{position:relative}
.carousel .control-arrow{outline:0;border:0;background:none;top:50%;margin-top:-13px;font-size:18px}
.carousel .thumbs-wrapper{margin:20px;overflow:hidden}
.carousel .thumbs{-webkit-transition:all .15s ease-in;-moz-transition:all .15s ease-in;-ms-transition:all .15s ease-in;-o-transition:all .15s ease-in;transition:all .15s ease-in;-webkit-transform:translate3d(0, 0, 0);-moz-transform:translate3d(0, 0, 0);-ms-transform:translate3d(0, 0, 0);-o-transform:translate3d(0, 0, 0);transform:translate3d(0, 0, 0);position:relative;list-style:none;white-space:nowrap}
.carousel .thumb{-webkit-transition:border .15s ease-in;-moz-transition:border .15s ease-in;-ms-transition:border .15s ease-in;-o-transition:border .15s ease-in;transition:border .15s ease-in;display:inline-block;margin-right:6px;white-space:nowrap;overflow:hidden;border:3px solid #fff;padding:2px}
.carousel .thumb:focus{border:3px solid #ccc;outline:none}
.carousel .thumb.selected,.carousel .thumb:hover{border:3px solid #333}
.carousel .thumb img{vertical-align:top}
.carousel.carousel-slider{position:relative;margin:0;overflow:hidden}
.carousel.carousel-slider .control-arrow{top:0;color:#fff;font-size:26px;bottom:0;margin-top:0;padding:5px}
.carousel.carousel-slider .control-arrow:hover{:rgba(0,0,0,0.2)}
.carousel .slider-wrapper{overflow:hidden;margin:auto;width:100%;-webkit-transition:height .15s ease-in;-moz-transition:height .15s ease-in;-ms-transition:height .15s ease-in;-o-transition:height .15s ease-in;transition:height .15s ease-in}
.carousel .slider-wrapper.axis-horizontal .slider{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}
.carousel .slider-wrapper.axis-horizontal .slider .slide{flex-direction:column;flex-flow:column}
.carousel .slider-wrapper.axis-vertical{-ms-box-orient:horizontal;display:-webkit-box;display:-moz-box;display:-ms-flexbox;display:-moz-flex;display:-webkit-flex;display:flex}
.carousel .slider-wrapper.axis-vertical .slider{-webkit-flex-direction:column;flex-direction:column}
.carousel .slider{margin:0;padding:0;position:relative;list-style:none;width:100%}
.carousel .slider.animated{-webkit-transition:all .35s ease-in-out;-moz-transition:all .35s ease-in-out;-ms-transition:all .35s ease-in-out;-o-transition:all .35s ease-in-out;transition:all .35s ease-in-out}
.carousel .slide{min-width:100%;margin:0;position:relative;text-align:center}
.carousel .slide img{width:100%;vertical-align:top;border:0}
.carousel .slide iframe{display:inline-block;width:calc(100% - 80px);margin:0 40px 40px;border:0}

.carousel .slide .legend{-webkit-transition:all .5s ease-in-out;-moz-transition:all .5s ease-in-out;-ms-transition:all .5s ease-in-out;-o-transition:all .5s ease-in-out;transition:all .5s ease-in-out;position:absolute;bottom:40px;left:50%;margin-left:-45%;width:90%;border-radius:10px;background:none;color:#fff;padding:10px;font-size:1.5vw;text-align:left;opacity:1;-webkit-transition:opacity .35s ease-in-out;-moz-transition:opacity .35s ease-in-out;-ms-transition:opacity .35s ease-in-out;-o-transition:opacity .35s ease-in-out;transition:opacity .35s ease-in-out}

.carousel .control-dots{position:absolute;bottom:0;margin:10px 0;padding:0;text-align:center;width:100%;z-index:1}@media (min-width: 960px){.carousel .control-dots{bottom:0}}
.carousel .control-dots .dot{-webkit-transition:opacity .25s ease-in;-moz-transition:opacity .25s ease-in;-ms-transition:opacity .25s ease-in;-o-transition:opacity .25s ease-in;transition:opacity .25s ease-in;opacity:.3;filter:alpha(opacity=30);box-shadow:1px 1px 2px rgba(0,0,0,0.9);background:#fff;border-radius:50%;width:8px;height:8px;cursor:pointer;display:inline-block;margin:0 8px}
.carousel .control-dots .dot.selected,.carousel .control-dots .dot:hover{opacity:1;filter:alpha(opacity=100)}
.carousel .carousel-status{position:absolute;top:0;right:0;padding:5px;font-size:10px;text-shadow:1px 1px 1px rgba(0,0,0,0.9);color:#fff}
